.navigation {
    background-color: #0b102b;
    list-style: none;
}

.navigation__list {
    display: flex;
    flex-direction: row;
}

.navigation__element {
    list-style: none;
    padding: 25px;
}

.navigation__link {
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-decoration: none;
}

@media(min-width: 1024px) {
    .navigation__link {
        font-size: 1rem;
        padding: 35px;
    }
}