.navigation {
    background-color: #0b102b;
    list-style: none;
}

.navigation__list {
    display: flex;
    flex-direction: row;
}

.navigation__element {
    list-style: none;
    padding: 35px;
}

.navigation__link {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
}