.middleHeader__container {
    width: 80%
}

.middleHeader {
    margin: 0;
    padding: 25px;
}

.middleHeader {
    font-size: 1.3rem;
}

@media(min-width: 1024px) {
    .middleHeader {
        font-size: 1.5rem;
    }
}